.dropdown {
  border: 1px solid red;
}

.dropdown-container .cdk-overlay-pane {
  border: 1px solid red;
  border-radius: 4px;
}
.dropdown-panel {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
