<div class="padding-24">
  <MyBadge size="small">Badge</MyBadge>
  <MyBadge size="small" color="success">Badge success</MyBadge>
  <MyBadge size="small" color="error">Badge error</MyBadge>
  <MyBadge size="small" color="warn">Badge warn</MyBadge>
</div>

<div class="padding-24">
  <MyBadge size="medium">Badge</MyBadge>
  <MyBadge size="medium" color="success">Badge success</MyBadge>
  <MyBadge size="medium" color="error">Badge error</MyBadge>
  <MyBadge size="medium" color="warn">Badge warn</MyBadge>
</div>

<div class="padding-24">
  <div>
    <MyBadge size="small">
      <MyMaterialIcon>info</MyMaterialIcon>
      Badge
    </MyBadge>
    <MyBadge size="small" color="success">
      <MyMaterialIcon>check_circle</MyMaterialIcon>
      Badge success
    </MyBadge>
    <MyBadge size="small" color="error">
      <MyMaterialIcon>error</MyMaterialIcon>
      Badge error
    </MyBadge>
    <MyBadge size="small" color="warn">
      <MyMaterialIcon>warning</MyMaterialIcon>
      Badge warn
    </MyBadge>
  </div>

  <div>
    <MyBadge size="medium">
      <MyMaterialIcon>info</MyMaterialIcon>
      Badge
    </MyBadge>
    <MyBadge size="medium" color="success">
      <MyMaterialIcon>check_circle</MyMaterialIcon>
      Badge success
    </MyBadge>
    <MyBadge size="medium" color="error">
      <MyMaterialIcon>error</MyMaterialIcon>
      Badge error
    </MyBadge>
    <MyBadge size="medium" color="warn">
      <MyMaterialIcon>warning</MyMaterialIcon>
      Badge warn
    </MyBadge>
  </div>

</div>
