<div style="padding: 24px; display: flex; gap: 32px">
  <MyPersona>
    <span MyPersonaText>KS</span>
  </MyPersona>

  <MyPersona>
    <img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96" width="96" priority>
  </MyPersona>

  <MyPersona>
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
</div>

<div style="padding: 24px; display: flex; gap: 32px">
  <MyPersona class="size24"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size32"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size40"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size48"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size56"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size72"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size100"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size128"><span MyPersonaText>KS</span></MyPersona>
  <MyPersona class="size180"><span MyPersonaText>KS</span></MyPersona>
</div>

<div style="padding: 24px; display: flex; gap: 32px">
  <MyPersona class="size24">
    <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size32">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size40">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size48">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size56">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size72">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size100">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
  <MyPersona class="size128">
   <MyMaterialIcon MyPersonaIcon>user</MyMaterialIcon>
  </MyPersona>
</div>

<div style="padding: 24px; display: flex; gap: 32px">
  <MyPersona class="size24">
    <img MyPersonaImage
         ngSrc="/assets/persona-male.png"
         alt="persona-male"
         height="96"
         width="96"
         priority
    >
  </MyPersona>
  <MyPersona class="size32"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                 width="96" priority></MyPersona>
  <MyPersona class="size40"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                 width="96" priority></MyPersona>
  <MyPersona class="size48"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                 width="96" priority></MyPersona>
  <MyPersona class="size56"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                 width="96" priority></MyPersona>
  <MyPersona class="size72"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                 width="96" priority></MyPersona>
  <MyPersona class="size100"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                  width="96" priority></MyPersona>
  <MyPersona class="size128"><img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96"
                                  width="96" priority></MyPersona>
</div>


<div class="padding-24"
     style="display: grid; grid-template-columns: repeat(8, 70px); grid-column-gap: 24px; grid-row-gap: 24px">
  @for (color of paletteColors; track color) {
    <div style="display: flex; flex-direction: column; align-items: center">
      <MyPersona class="size48 color{{color}}">
        <MyMaterialIcon>user</MyMaterialIcon>
      </MyPersona>
      <div class="textStyle-caption1 marginTop-4">{{ color }}</div>
    </div>
  }
</div>



<div style="padding: 24px">
  <MyPersona [showStatus]="true">
    <span MyPersonaText>KS</span>
  </MyPersona>
</div>
