.my-option {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: var(--colorNeutralForeground1) !important;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorNeutralBackground2Hover);
  }
}

.my-option-layout {
  display: flex;
  align-items: center;
  gap: 12px;

}

.my-option-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  svg {
    width: 24px;
    height: 24px;
    fill: var(--colorNeutralForeground3);
  }
}

.my-option-content {
  flex-flow: 1;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
