:root {
  --my-button-shape__rounded: 4px;
  --my-button-shape__circular: 32px;
  --my-button-shape__square: 0;

  --my-button-borderSize: 1px;
}

.my-button {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  text-decoration: none;


  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--colorBrandBackground);
  }

  &.disabled {
    opacity: .6;
    pointer-events: none;
  }

  &.full-width {
    width: 100%;
  }

  .my-material-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: inherit;
  }

}

.my-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.my-button.shape-rounded { border-radius: var(--my-button-shape__rounded); }
.my-button.shape-circular { border-radius: var(--my-button-shape__circular); }
.my-button.shape-square { border-radius: var(--my-button-shape__square); }


.my-button.appearance-filled {
  background-color: var(--colorBrandBackground);
  color: #FFF;

  &:hover {
    background-color: var(--colorBrandBackgroundHover);
  }

  &:active {
    background-color: var(--colorBrandBackgroundPressed);
  }
}

.my-button.appearance-tonal {
  background-color: var(--colorBrandBackground2);
  color: var(--colorBrandForeground2);

  &:hover {
    background-color: var(--colorBrandBackground2Hover);
  }
}

.my-button.appearance-outlined {
  border: var(--my-button-borderSize) solid var(--colorNeutralStroke1);
  background-color: transparent;


  &:hover {
    background-color: var(--colorBrandBackground2Hover);
    border-color: var(--colorBrandBackground2Hover);
  }
}

.my-button.appearance-text {
  border: none;
  background-color: transparent;
  color: var(--colorBrandForeground1);

  &:hover {
    background-color: var(--colorBrandBackground2Hover);
    border-color: var(--colorBrandBackground2Hover);
  }
}
