.my-select {
  min-width: 64px;
  display: inline-block;
}

.my-select.field-child {
  width: 100%;
}

.my-select-input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px 4px 12px 12px;

  position: relative;
  //border: 1px solid blue;
  height: 36px;
  width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;

  & svg {
    fill: var(--colorNeutralForeground3);
  }
}

.my-select-thumb {
  height: 16px;
  width: 16px;
}

.my-select-input-content {
  flex-grow: 1;
  overflow: hidden;
}

.my-select-placeholder, .my-select-value-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.my-select-placeholder {
  opacity: .6;
}
.my-select-value-text {

}

.my-select.styled {

  .my-select-input {
    background-color: var(--colorNeutralBackground3);
    border: 1px solid var(--colorNeutralStroke1);
    border-radius: 4px;

    &:hover {
      background-color: var(--colorNeutralBackground3Hover);
    }
  }
}

.my-select.styled.focused  .my-select-input {
  border-color: var(--colorBrandStroke1);
}

.my-select-field {
  display: inline-block;
  min-width: 160px;
  position: relative;
  //border: 1px solid blue;
  height: 40px;
  text-overflow: ellipsis;
}

.my-select-field-label-box {
  //border: 1px solid red;
  position: absolute;
  left: 0;
  bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  transition: font-size 200ms ease-in-out, bottom 200ms ease-in-out;

  &.focused {
    color: #0A78D5;
  }

  &.floating {
    font-size: 12px;

    bottom: 20px;
  }
}

.my-select-field-content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 4px;
  height: 24px;
  background: transparent;
  box-sizing: border-box;


  .my-select-field-content-value {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
  }
}


.my-select-field-underline {
  height: .5px;
  border: none;
  background-color: #707070;
  left: 0;
  bottom: 2px;
  width: 100%;
  position: absolute;
  z-index: 4;

  transition: height 200ms ease-in-out;

  &.focused {
    height: 1px;
    background-color: #0A78D5;
  }
}

.my-select-panel-motion-container {
  overflow: hidden;
  background: transparent;
}

.my-select-panel {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--colorNeutralBackground3);
  max-height: 400px;
  overflow-x: hidden;
  padding: 4px;
  width: 100%;
  //transition: transform 200ms ease-in-out;
  //@starting-style {
  //  transform: translate3d(0, -48px, 0)
  //}
}

.enter-motion {
  animation: slide-fade 200ms;
}


.leave-motion {
  animation: slideUp-out 200ms;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(-48px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-48px);
  }
}
