

<div class="padding-24">
  <div class="textStyle-subtitle2">Basic select</div>
  <MySelect style="width: 200px" placeholder="Choisir un page dans cette longue liste">
    @for (country of countries; track country) {
      <MyOption [value]="country">
        {{ country.name }}
      </MyOption>
    }
  </MySelect>
</div>


<div class="padding-24">
  <div class="textStyle-subtitle2">Multiple values</div>
  <MySelect style="width: 200px" [multiple]="true" placeholder="Choisir un page dans cette longue liste">
    @for (country of countries; track country) {
      <MyOption [value]="country">
        {{ country.name }}
      </MyOption>
    }
  </MySelect>
</div>


<div class="padding-24">
  <div class="textStyle-subtitle2">Customer trigger</div>
  <MySelect #selectCustomerTrigger style="width: 200px" placeholder="Choisir un page dans cette longue liste">
    <MySelectTrigger>
      {{selectCustomerTrigger.value?.code}}
    </MySelectTrigger>
    @for (country of countries; track country) {
      <MyOption [value]="country">
        {{ country.name }}
      </MyOption>
    }
  </MySelect>
</div>
