<SelectField>
  <span SelectFieldLabel>Choisir un pays</span>
</SelectField>

<div style="display: flex; gap: 16px">
  <MySelect style="width: 200px">
    <SelectField #selectField  style="width: 200px">
      <span SelectFieldLabel>Choisir un grand pays</span>
      <span *ngIf="selectField.value">{{selectField.value.name}}</span>
    </SelectField>
    <SelectDropdown #selectDropdown>
      <MySelectMenu >
        <button MySelectMenuItem
                *ngFor="let country of countries"
                [checked]="selectField.value?.code == country.code"
                (onChange)="selectField.changeValue(country)"
                (click)="selectDropdown.close()"
        >{{ country.name }}</button>

      </MySelectMenu>
    </SelectDropdown>
  </MySelect>

  <TextField style="width: 200px">
    <label TextFieldLabel for="input1">Nom & prénom</label>
    <input type="text" id="input1" placeholder="Entrez votre nom" TextFieldInput>
  </TextField>
</div>
