<div class="background-container">

  <div class="contact-form">

    <div class="form-row row">
      <lucide-angular [img]="userIcon" class="my-icon"></lucide-angular>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex;">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Nom</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Prénom</label>
            <input TextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; padding-top: 16px ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Date de naissance</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Lieu de naissance</label>
            <input TextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; padding-top: 16px ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Sexe</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Nationalité</label>
            <input TextFieldInput>
          </TextField>
        </div>


      </div>
    </div>


    <div class="form-row row" style="margin-top: 24px">
      <lucide-angular [img]="phoneIcon" class="my-icon"></lucide-angular>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Libellé</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-2">
            <label TextFieldLabel>Numéro de téléphone</label>
            <input TextFieldInput>
          </TextField>
        </div>


      </div>
    </div>

    <div class="form-row row" style="margin-top: 24px">
      <lucide-angular [img]="mailIcon" class="my-icon"></lucide-angular>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Libellé</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-2">
            <label TextFieldLabel>Adresse de courier</label>
            <input TextFieldInput>
          </TextField>
        </div>
      </div>
    </div>


    <div class="form-row row" style="margin-top: 24px">
      <lucide-angular [img]="pinIcon" class="my-icon"></lucide-angular>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Adresse</label>
            <input TextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Ville</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Région</label>
            <input TextFieldInput>
          </TextField>
        </div>


        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Code postal</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Pays</label>
            <input TextFieldInput>
          </TextField>
        </div>

      </div>
    </div>



    <div class="form-row row" style="margin-top: 24px">
      <lucide-angular [img]="universityIcon" class="my-icon"></lucide-angular>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Adresse</label>
            <input TextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Ville</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Région</label>
            <input TextFieldInput>
          </TextField>
        </div>


        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label TextFieldLabel>Code postal</label>
            <input TextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label TextFieldLabel>Pays</label>
            <input TextFieldInput>
          </TextField>
        </div>

      </div>
    </div>
  </div>
</div>
