<div class="background-container">

  <div class="contact-form">

    <div class="form-row row">
      <
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex;">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Nom</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Prénom</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; padding-top: 16px ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Date de naissance</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Lieu de naissance</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; padding-top: 16px ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Sexe</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Nationalité</label>
            <input MyTextFieldInput>
          </TextField>
        </div>


      </div>
    </div>


    <div class="form-row row" style="margin-top: 24px">
      <MyMaterialIcon>phone</MyMaterialIcon>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Libellé</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-2">
            <label MyTextFieldLabel>Numéro de téléphone</label>
            <input MyTextFieldInput>
          </TextField>
        </div>


      </div>
    </div>

    <div class="form-row row" style="margin-top: 24px">
      <MyMaterialIcon>mail</MyMaterialIcon>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Libellé</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-2">
            <label MyTextFieldLabel>Adresse de courier</label>
            <input MyTextFieldInput>
          </TextField>
        </div>
      </div>
    </div>


    <div class="form-row row" style="margin-top: 24px">
      <MyMaterialIcon>pin</MyMaterialIcon>
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Adresse</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Ville</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Région</label>
            <input MyTextFieldInput>
          </TextField>
        </div>


        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Code postal</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Pays</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

      </div>
    </div>



    <div class="form-row row" style="margin-top: 24px">
      <span style="width: 32px"></span>
      <div class="flex-group-1">
        <div class="row" style="display: flex; ">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Adresse</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Ville</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Région</label>
            <input MyTextFieldInput>
          </TextField>
        </div>


        <div class="row" style="display: flex; margin-top: 16px">
          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Code postal</label>
            <input MyTextFieldInput>
          </TextField>
          <span style="width: 32px"></span>

          <TextField class="flex-group-1">
            <label MyTextFieldLabel>Pays</label>
            <input MyTextFieldInput>
          </TextField>
        </div>

      </div>
    </div>
  </div>
</div>
