<div class="padding-16">
  <MyMenu>
    <button MyMenuItem>Open</button>
    <button MyMenuItem>Share</button>
    <button MyMenuItem>Copy</button>
  </MyMenu>
</div>


<div class="padding-16">
  <MyMenu>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.CopyIcon"></lucide-icon> </span>
      Open</button>
    <button MyMenuItem>
      <span MyMenuItemIcon>  </span>
      Share</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.CopyIcon"></lucide-icon> </span>
      Copy</button>
  </MyMenu>
</div>

<div class="padding-24">
  <MyMenu>
    <button MyMenuItem>
      <span MyMenuItemIcon></span>
      Open</button>
    <button MyMenuItem>
      <span MyMenuItemIcon></span>
      Share</button>
    <div class="my-menu-divider"></div>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.CopyIcon"></lucide-icon> </span>
      Copy</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.ScissorsIcon"></lucide-icon> </span>
      Cut</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.ClipboardIcon"></lucide-icon> </span>

      Paste</button>
    <div class="my-menu-divider"></div>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.PencilIcon"></lucide-icon> </span>
      Rename</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <lucide-icon [img]="icons.TrashIcon"></lucide-icon> </span>
      Delete</button>
  </MyMenu>
</div>
