<div class="padding-16">
  <MyMenu>
    <button MyMenuItem>Open</button>
    <button MyMenuItem>Share</button>
    <button MyMenuItem>Copy</button>
  </MyMenu>
</div>


<div class="padding-16">
  <MyMenu>
    <button MyMenuItem>
      <span MyMenuItemIcon>
        <MyMaterialIcon>copy</MyMaterialIcon>
      </span>
      Open</button>
    <button MyMenuItem>
      <span MyMenuItemIcon>  </span>
      Share</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <MyMaterialIcon>copy</MyMaterialIcon> </span>
      Copy</button>
  </MyMenu>
</div>

<div class="padding-24">
  <MyMenu>
    <button MyMenuItem>
      <span MyMenuItemIcon></span>
      Open</button>
    <button MyMenuItem>
      <span MyMenuItemIcon></span>
      Share</button>
    <div class="my-menu-divider"></div>
    <button MyMenuItem>

      <span MyMenuItemIcon> <MyMaterialIcon>copy</MyMaterialIcon> </span>
      Copy</button>
    <button MyMenuItem>
      <span MyMenuItemIcon>
        <MyMaterialIcon>cut</MyMaterialIcon>
      </span>
      Cut</button>
    <button MyMenuItem>
      <span MyMenuItemIcon>
        <MyMaterialIcon>clipboard</MyMaterialIcon>
      </span>

      Paste</button>
    <div class="my-menu-divider"></div>
    <button MyMenuItem>
      <span MyMenuItemIcon> <MyMaterialIcon>edit</MyMaterialIcon> </span>
      Rename</button>
    <button MyMenuItem>
      <span MyMenuItemIcon> <MyMaterialIcon>delete</MyMaterialIcon> </span>
      Delete</button>
  </MyMenu>
</div>
