:host {
  --textFieldHeight: 36px;
}
.my-text-field {
  display: inline-block;
  width: 256px;
  min-height: var(--textFieldHeight);
  min-width: 100px;
  position: relative;
  box-sizing: border-box;
  //background-color: rgba(255, 0, 0, 0.6);


  &.disabled {
    pointer-events: none;
    opacity: .6;
  }
}

.my-text-field-box {
  box-sizing: border-box;

  border-radius: 4px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background-color: transparent;
  transition: border-width 200ms ease-in-out;


  &.focused {
    border-color: transparent;
  }

  &.error {
    border-color: var(--colorPaletteRedForeground1);
  }

  &.floating {
    font-size: 12px;
    color: var(--colorBrandForeground1);
    bottom: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    border: 1px solid var(--colorNeutralStroke1);
    transition: border-width 200ms ease-in-out;
    z-index: 0;
  }

  &.focused:after {
    border: 2px solid var(--colorBrandStroke1);
  }

  &.error:after {
    border-color: var(--colorPaletteRedBorder2);
  }
}

.my-text-field-input-box {
  box-sizing: border-box;
  height: auto;
  position: relative;
  z-index: 1;
  background: transparent;
  flex-grow: 1;

  padding: 8px;

  transition: font-size 200ms ease-in-out, bottom 200ms ease-in-out;


}

.my-text-field-label, .my-text-field-input {
  font-size: 14px;

  font-family: inherit;
  box-sizing: border-box;
}

.my-text-field-label {
  width: auto;
  position: absolute;
  z-index: 0;
  min-height: 20px;
  color: var(--colorNeutralForeground3);
  display: inline-block;
  top: 8px;
  transform-origin: left;
  //background-color: red;

  transition: transform 200ms ease-in-out;
  //color: var(--colorNeutralForeground3);
  cursor: text;

  &.floating {
    transform: scale(1) translateY(-16px);

    font-size: 12px;
    line-height: 12px;
    min-height: 12px;
    padding: 0 2px;

    background-color: var(--colorNeutralBackground1);
    border-radius: 8px;
  }

  &.focused {
    color: var(--colorBrandForeground1);
  }

  &.error, &.focused.error {
    color: var(--colorPaletteRedForeground1)
  }
}

.my-text-field.focused {

  .my-text-field-input::placeholder {
    opacity: 1;
  }
}


.my-text-field-input {

  width: 100%;
  line-height: 20px;
  box-sizing: border-box;

  padding: 0;


  //border: 1px solid red;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  background: transparent;
  //background-color: blue;
  //margin-top: 8px;
  z-index: 2;
  position: relative;
  color: var(--colorNeutralForeground1);

  &::placeholder {
    opacity: 0;
  }
}


textarea.my-text-field-input {
  font-family: inherit;
  line-height: 20px;
}


.my-text-field-underline {
  height: 1px;
  border: none;
  background-color: #707070;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 4;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 5;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBrandForeground1);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }

  &.focused:before {
    transform: scaleX(1);
  }

  &.error:before {
    background-color: var(--colorPaletteRedBorderActive);
  }

  &.error {
    background-color: var(--colorPaletteRedBorderActive);
  }
}

MyTextFieldLeadingContent, MyTextFieldTrailingContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-text-field-leading-content-box {
  color: var(--colorNeutralForeground2);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  font-size: 14px;
  z-index: 1;
}

.my-text-field-trailing-content-box {
  color: var(--colorNeutralForeground2);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  font-size: 14px;
  z-index: 1;
}


.my-text-field-hint {
  color: var(--colorNeutralForeground3);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}
