.my-text-field {
  display: inline-block;
  width: 200px;
  min-width: 100px;
  position: relative;
  box-sizing: border-box;
  //background-color: rgba(255, 0, 0, 0.6);
}

.my-text-field-label {
  font-family: inherit;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 16px;
  //border: 1px solid blue;;
  display: inline-block;
  transform-origin: left;
  transform: scale(1.25) translateY(14px);
  transition: transform 200ms ease-in-out;
  color: var(--colorNeutralForeground3);
  cursor: text;

  &.floating {
    transform: scale(1) translateY(0);

    bottom: 24px;
    font-size: 12px;

  }

  &.focused {
    color: var(--colorBrandForeground1)
  }
}

.my-text-field.focused {

  .my-text-field-input::placeholder {
    opacity: 1;
  }
}

.my-text-field-input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
  width: 100%;
  background: transparent;

  color: var(--colorNeutralForeground1);

  &::placeholder {
    opacity: 0;
  }


}
textarea.my-text-field-input {
  font-family: inherit;
}
.my-text-field-input-box {
  box-sizing: border-box;
  //border: 1px solid red;

  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;

  transition: font-size 200ms ease-in-out, bottom 200ms ease-in-out;

  &.focused {
    font-size: 12px;
    color: var(--colorBrandForeground1);
    bottom: 20px;
  }

  &.floating {
    font-size: 12px;
    color: var(--colorBrandForeground1);
    bottom: 20px;
  }
}



.my-text-field-underline {
  height: 1px;
  border: none;
  background-color: #707070;
  left: 0;
  bottom: 0px;
  width: 100%;
  position: absolute;
  z-index: 4;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 5;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBrandForeground1);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
  }
  &.focused:before {
    transform: scaleX(1);
  }
}
