<div class="padding-24">
      <MyTag>tag</MyTag>
</div>

<div>
  <MyTag shape="circular">Circular</MyTag>
  <MyTag shape="rounded">Rounded</MyTag>
</div>

<div>
  <MyTag shape="circular">
    <MyTagDismiss></MyTagDismiss>
    Dismissable
  </MyTag>

  <MyTag shape="rounded">
    <MyTagDismiss></MyTagDismiss>
    Dismissable
  </MyTag>
</div>


<div class="padding-24">
  <MyTag shape="circular" style="padding:4px 16px">
    <MyTagDismiss></MyTagDismiss>
    <div>
      <div>Chendjou caleb</div>
      <div ><span class="textStyle-caption1">Sécrétaire</span></div>
    </div>
  </MyTag>
</div>


<div class="padding-24" style="display: flex; column-gap: 16px">
  <MyTag size="medium">
    <MyTagDismiss></MyTagDismiss>
    Medium
  </MyTag>

  <div>
    <MyTag size="small">
      <MyTagDismiss></MyTagDismiss>
      Small
    </MyTag>
  </div>

 <div>
   <MyTag size="extra-small">
     <MyTagDismiss></MyTagDismiss>
     Extra small
   </MyTag>
 </div>
</div>


<div class="padding-24" style="display: flex; column-gap: 16px">
  <MyTag size="medium">
    <MyTagDismiss></MyTagDismiss>

    <div style="display: flex; align-items: center; column-gap: 4px">
      <MyPersona class="size24">
        <img ngSrc="/assets/persona-male.png" alt="persona-male" MyPersonaImage height="96" width="96" priority>
      </MyPersona>
      Medium
    </div>
  </MyTag>
</div>

<div class="padding-24" style="display: flex; column-gap: 16px">
  <MyTag size="medium" appearance="filled">
    <MyTagDismiss></MyTagDismiss>
    Filled
  </MyTag>

  <MyTag size="medium" appearance="outline">
    <MyTagDismiss></MyTagDismiss>
    Outlined
  </MyTag>
</div>

<div class="padding-24" style="display: flex; column-gap: 16px">
  <MyTag size="medium" appearance="filled" [selected]="true">
    <MyTagDismiss></MyTagDismiss>
    Selected
  </MyTag>

  <MyTag size="medium" appearance="outline" [selected]="true">
    <MyTagDismiss></MyTagDismiss>
    Selected oulined
  </MyTag>
</div>


<div class="padding-24" >
  <div class="textStyle-subtitle2">Clickable tag</div>
  <div style="display: flex; column-gap: 16px">
    <MyTag size="medium" appearance="filled" [clickable]="true">
      <MyTagDismiss></MyTagDismiss>
      Filled
    </MyTag>

    <MyTag size="medium" appearance="outline" [clickable]="true" >
      <MyTagDismiss></MyTagDismiss>
      Outline
    </MyTag>

    <MyTag size="medium" appearance="filled" [selected]="true" [clickable]="true">
      <MyTagDismiss></MyTagDismiss>
      Selected filled
    </MyTag>

    <MyTag size="medium" appearance="outline" [selected]="true" [clickable]="true">
      <MyTagDismiss></MyTagDismiss>
      Selected oulined
    </MyTag>
  </div>
</div>
