.layout {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--colorNeutralBackground5);
  color: var(--colorNeutralForeground1);

  .layout-menu {
    width: 200px;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
  }

  .layout-content {
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
  }
}


.layout-menu a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--colorNeutralForeground2);
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;

  &:hover {
    color: var(--colorBrandForeground2Hover);
    background-color: var(--colorBrandBackground2Hover);
  }

  &.active {
    color: var(--colorBrandForeground2);
    background-color: var(--colorBrandBackground2);
  }
}
