.paddingTop-0 {
  padding-top: 0;
}

.paddingBottom-0 {
  padding-bottom: 0;
}

.paddingStart-0 {
  padding-left: 0;
}

.paddingEnd-0 {
  padding-right: 0;
}

.paddingVertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.paddingHorizontal-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-0 {
  padding: 0;
}

.marginTop-0 {
  margin-top: 0;
}

.marginBottom-0 {
  margin-bottom: 0;
}

.marginStart-0 {
  margin-left: 0;
}

.marginEnd-0 {
  margin-right: 0;
}

.marginVertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.marginHorizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-0 {
  margin: 0;
}

.paddingTop-2 {
  padding-top: 2px;
}

.paddingBottom-2 {
  padding-bottom: 2px;
}

.paddingStart-2 {
  padding-left: 2px;
}

.paddingEnd-2 {
  padding-right: 2px;
}

.paddingVertical-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.paddingHorizontal-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.padding-2 {
  padding: 2px;
}

.marginTop-2 {
  margin-top: 2px;
}

.marginBottom-2 {
  margin-bottom: 2px;
}

.marginStart-2 {
  margin-left: 2px;
}

.marginEnd-2 {
  margin-right: 2px;
}

.marginVertical-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.marginHorizontal-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.margin-2 {
  margin: 2px;
}

.paddingTop-4 {
  padding-top: 4px;
}

.paddingBottom-4 {
  padding-bottom: 4px;
}

.paddingStart-4 {
  padding-left: 4px;
}

.paddingEnd-4 {
  padding-right: 4px;
}

.paddingVertical-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.paddingHorizontal-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-4 {
  padding: 4px;
}

.marginTop-4 {
  margin-top: 4px;
}

.marginBottom-4 {
  margin-bottom: 4px;
}

.marginStart-4 {
  margin-left: 4px;
}

.marginEnd-4 {
  margin-right: 4px;
}

.marginVertical-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.marginHorizontal-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.margin-4 {
  margin: 4px;
}

.paddingTop-6 {
  padding-top: 6px;
}

.paddingBottom-6 {
  padding-bottom: 6px;
}

.paddingStart-6 {
  padding-left: 6px;
}

.paddingEnd-6 {
  padding-right: 6px;
}

.paddingVertical-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.paddingHorizontal-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.padding-6 {
  padding: 6px;
}

.marginTop-6 {
  margin-top: 6px;
}

.marginBottom-6 {
  margin-bottom: 6px;
}

.marginStart-6 {
  margin-left: 6px;
}

.marginEnd-6 {
  margin-right: 6px;
}

.marginVertical-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.marginHorizontal-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.margin-6 {
  margin: 6px;
}

.paddingTop-8 {
  padding-top: 8px;
}

.paddingBottom-8 {
  padding-bottom: 8px;
}

.paddingStart-8 {
  padding-left: 8px;
}

.paddingEnd-8 {
  padding-right: 8px;
}

.paddingVertical-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.paddingHorizontal-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-8 {
  padding: 8px;
}

.marginTop-8 {
  margin-top: 8px;
}

.marginBottom-8 {
  margin-bottom: 8px;
}

.marginStart-8 {
  margin-left: 8px;
}

.marginEnd-8 {
  margin-right: 8px;
}

.marginVertical-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.marginHorizontal-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-8 {
  margin: 8px;
}

.paddingTop-10 {
  padding-top: 10px;
}

.paddingBottom-10 {
  padding-bottom: 10px;
}

.paddingStart-10 {
  padding-left: 10px;
}

.paddingEnd-10 {
  padding-right: 10px;
}

.paddingVertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingHorizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-10 {
  padding: 10px;
}

.marginTop-10 {
  margin-top: 10px;
}

.marginBottom-10 {
  margin-bottom: 10px;
}

.marginStart-10 {
  margin-left: 10px;
}

.marginEnd-10 {
  margin-right: 10px;
}

.marginVertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginHorizontal-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-10 {
  margin: 10px;
}

.paddingTop-12 {
  padding-top: 12px;
}

.paddingBottom-12 {
  padding-bottom: 12px;
}

.paddingStart-12 {
  padding-left: 12px;
}

.paddingEnd-12 {
  padding-right: 12px;
}

.paddingVertical-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.paddingHorizontal-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-12 {
  padding: 12px;
}

.marginTop-12 {
  margin-top: 12px;
}

.marginBottom-12 {
  margin-bottom: 12px;
}

.marginStart-12 {
  margin-left: 12px;
}

.marginEnd-12 {
  margin-right: 12px;
}

.marginVertical-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.marginHorizontal-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.margin-12 {
  margin: 12px;
}

.paddingTop-16 {
  padding-top: 16px;
}

.paddingBottom-16 {
  padding-bottom: 16px;
}

.paddingStart-16 {
  padding-left: 16px;
}

.paddingEnd-16 {
  padding-right: 16px;
}

.paddingVertical-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.paddingHorizontal-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-16 {
  padding: 16px;
}

.marginTop-16 {
  margin-top: 16px;
}

.marginBottom-16 {
  margin-bottom: 16px;
}

.marginStart-16 {
  margin-left: 16px;
}

.marginEnd-16 {
  margin-right: 16px;
}

.marginVertical-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.marginHorizontal-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-16 {
  margin: 16px;
}

.paddingTop-20 {
  padding-top: 20px;
}

.paddingBottom-20 {
  padding-bottom: 20px;
}

.paddingStart-20 {
  padding-left: 20px;
}

.paddingEnd-20 {
  padding-right: 20px;
}

.paddingVertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingHorizontal-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-20 {
  padding: 20px;
}

.marginTop-20 {
  margin-top: 20px;
}

.marginBottom-20 {
  margin-bottom: 20px;
}

.marginStart-20 {
  margin-left: 20px;
}

.marginEnd-20 {
  margin-right: 20px;
}

.marginVertical-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginHorizontal-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-20 {
  margin: 20px;
}

.paddingTop-24 {
  padding-top: 24px;
}

.paddingBottom-24 {
  padding-bottom: 24px;
}

.paddingStart-24 {
  padding-left: 24px;
}

.paddingEnd-24 {
  padding-right: 24px;
}

.paddingVertical-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.paddingHorizontal-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-24 {
  padding: 24px;
}

.marginTop-24 {
  margin-top: 24px;
}

.marginBottom-24 {
  margin-bottom: 24px;
}

.marginStart-24 {
  margin-left: 24px;
}

.marginEnd-24 {
  margin-right: 24px;
}

.marginVertical-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.marginHorizontal-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-24 {
  margin: 24px;
}

.paddingTop-28 {
  padding-top: 28px;
}

.paddingBottom-28 {
  padding-bottom: 28px;
}

.paddingStart-28 {
  padding-left: 28px;
}

.paddingEnd-28 {
  padding-right: 28px;
}

.paddingVertical-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.paddingHorizontal-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.padding-28 {
  padding: 28px;
}

.marginTop-28 {
  margin-top: 28px;
}

.marginBottom-28 {
  margin-bottom: 28px;
}

.marginStart-28 {
  margin-left: 28px;
}

.marginEnd-28 {
  margin-right: 28px;
}

.marginVertical-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.marginHorizontal-28 {
  margin-left: 28px;
  margin-right: 28px;
}

.margin-28 {
  margin: 28px;
}

.paddingTop-32 {
  padding-top: 32px;
}

.paddingBottom-32 {
  padding-bottom: 32px;
}

.paddingStart-32 {
  padding-left: 32px;
}

.paddingEnd-32 {
  padding-right: 32px;
}

.paddingVertical-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.paddingHorizontal-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-32 {
  padding: 32px;
}

.marginTop-32 {
  margin-top: 32px;
}

.marginBottom-32 {
  margin-bottom: 32px;
}

.marginStart-32 {
  margin-left: 32px;
}

.marginEnd-32 {
  margin-right: 32px;
}

.marginVertical-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.marginHorizontal-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.margin-32 {
  margin: 32px;
}

.paddingTop-36 {
  padding-top: 36px;
}

.paddingBottom-36 {
  padding-bottom: 36px;
}

.paddingStart-36 {
  padding-left: 36px;
}

.paddingEnd-36 {
  padding-right: 36px;
}

.paddingVertical-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.paddingHorizontal-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.padding-36 {
  padding: 36px;
}

.marginTop-36 {
  margin-top: 36px;
}

.marginBottom-36 {
  margin-bottom: 36px;
}

.marginStart-36 {
  margin-left: 36px;
}

.marginEnd-36 {
  margin-right: 36px;
}

.marginVertical-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.marginHorizontal-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.margin-36 {
  margin: 36px;
}

.paddingTop-40 {
  padding-top: 40px;
}

.paddingBottom-40 {
  padding-bottom: 40px;
}

.paddingStart-40 {
  padding-left: 40px;
}

.paddingEnd-40 {
  padding-right: 40px;
}

.paddingVertical-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.paddingHorizontal-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-40 {
  padding: 40px;
}

.marginTop-40 {
  margin-top: 40px;
}

.marginBottom-40 {
  margin-bottom: 40px;
}

.marginStart-40 {
  margin-left: 40px;
}

.marginEnd-40 {
  margin-right: 40px;
}

.marginVertical-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.marginHorizontal-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-40 {
  margin: 40px;
}

.paddingTop-48 {
  padding-top: 48px;
}

.paddingBottom-48 {
  padding-bottom: 48px;
}

.paddingStart-48 {
  padding-left: 48px;
}

.paddingEnd-48 {
  padding-right: 48px;
}

.paddingVertical-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.paddingHorizontal-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.padding-48 {
  padding: 48px;
}

.marginTop-48 {
  margin-top: 48px;
}

.marginBottom-48 {
  margin-bottom: 48px;
}

.marginStart-48 {
  margin-left: 48px;
}

.marginEnd-48 {
  margin-right: 48px;
}

.marginVertical-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.marginHorizontal-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.margin-48 {
  margin: 48px;
}

.paddingTop-52 {
  padding-top: 52px;
}

.paddingBottom-52 {
  padding-bottom: 52px;
}

.paddingStart-52 {
  padding-left: 52px;
}

.paddingEnd-52 {
  padding-right: 52px;
}

.paddingVertical-52 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.paddingHorizontal-52 {
  padding-left: 52px;
  padding-right: 52px;
}

.padding-52 {
  padding: 52px;
}

.marginTop-52 {
  margin-top: 52px;
}

.marginBottom-52 {
  margin-bottom: 52px;
}

.marginStart-52 {
  margin-left: 52px;
}

.marginEnd-52 {
  margin-right: 52px;
}

.marginVertical-52 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.marginHorizontal-52 {
  margin-left: 52px;
  margin-right: 52px;
}

.margin-52 {
  margin: 52px;
}

.paddingTop-56 {
  padding-top: 56px;
}

.paddingBottom-56 {
  padding-bottom: 56px;
}

.paddingStart-56 {
  padding-left: 56px;
}

.paddingEnd-56 {
  padding-right: 56px;
}

.paddingVertical-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.paddingHorizontal-56 {
  padding-left: 56px;
  padding-right: 56px;
}

.padding-56 {
  padding: 56px;
}

.marginTop-56 {
  margin-top: 56px;
}

.marginBottom-56 {
  margin-bottom: 56px;
}

.marginStart-56 {
  margin-left: 56px;
}

.marginEnd-56 {
  margin-right: 56px;
}

.marginVertical-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.marginHorizontal-56 {
  margin-left: 56px;
  margin-right: 56px;
}

.margin-56 {
  margin: 56px;
}
