<div class="my-agenda-header" [style.grid-template-columns]="_getColumnGridTemplate()">
  <div class="my-agenda-header-cell-timeline"></div>

  @for (day of days; track day){
  <div class="my-agenda-header-cell-day-container">
    <div class="my-agenda-header-cell-day">
      <div>{{  day.dayOfMonth() }}</div>
    </div>
  </div>
  }
</div>

<div class="my-agenda-body" [style.height.px]="_getBodyHeight()">



  <div class="my-agenda-body-columns" [style.grid-template-columns]="_getColumnGridTemplate()">
    <div class="my-agenda-column-timeline">
      @for (hour of timelineHours; track hour) {
        <div class="my-agenda-timeline-hour" #timelineHour *ngIf="_initialized"
             [style.top.px]="_getHourTop(hour) -10">
          {{ hour.format(hourFormatter) }}
        </div>
      }
    </div>
    @for (day of days; track day){
      <div class="my-agenda-column-day">
        @for(event of getDayEvents(day); track event) {
          <div class="my-agenda-event-container"
               [style.top.px]="_getHourTop(event.startHour)"
               [style.height.px]="_getRangeHeight(event.startHour, event.endHour)">
            @if(eventTemplateDef) {
              <ng-container
                *ngTemplateOutlet="eventTemplateDef.template; context: _getEventTemplateContext(event)"></ng-container>
            } @else {
              <div class="my-agenda-event" [style.background-color]="event.color">
                <div>{{event.title}}</div>
                <div>
                  {{event.startHour.format(hourFormatter)}} - {{event.endHour.format(hourFormatter)}}
                </div>
              </div>
            }

          </div>

        }
      </div>
    }
  </div>

  @for (hour of timelineHours; track hour) {
    <div class="my-agenda-hour-line"
         [style.top.px]="_getHourTop(hour)"
         [style.left.px]="timelineWidth - 16"
    ></div>
  }
</div>
