<div class="padding-24">
  <TabRow>
    <button MyTabRowItem>First Tab</button>
    <button MyTabRowItem>Second Tab</button>
    <button MyTabRowItem>Third Tab</button>
    <button MyTabRowItem>Fourth Tab</button>
  </TabRow>
</div>


<div>
  <TabRow #tabRow="tabRow" (change)="pager.selectName($event.name)">
    <button TabRowItem name="all">Tous</button>
    <button TabRowItem name="images">Images</button>
    <button TabRowItem name="videos">Vidéos</button>
    <button TabRowItem name="news">Actualités</button>
    <button TabRowItem name="maps">Cartes</button>
    <button TabRowItem name="books">Livres</button>
  </TabRow>
</div>

<HorizontalPager #pager="pager" >
  <ng-template [PageDef] PageDefName="all" >
    <span>All content</span>
  </ng-template>

  <ng-template [PageDef] PageDefName="images" >
    <span>Images content</span>
  </ng-template>

  <ng-template [PageDef] PageDefName="videos" >
    <span>Videos content</span>
  </ng-template>

  <ng-template [PageDef] PageDefName="news" >
    <span>Actualités content</span>
  </ng-template>

  <ng-template [PageDef] PageDefName="maps" >
    <div>Cartes content</div>
    <div>Cartes content</div>
    <div>Cartes content</div>
  </ng-template>

  <ng-template [PageDef] PageDefName="books" >
    <span>Books content</span>
  </ng-template>

</HorizontalPager>
