.my-color-picker-panel-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: 2px;
  padding: 16px;
  background-color: var(--colorNeutralBackground3);
}


.my-color-picker-panel {
  display: block;
}
