<!--<div class="padding-24">-->
<!--  <div class="textStyle-subtitle1">Simple panel</div>-->
<!--  <MyColorPickerPanel></MyColorPickerPanel>-->
<!--</div>-->


<div class="padding-24">
  <div class="textStyle-subtitle1">Field</div>
  <MyColorPicker placeholder="Choisir une couleur"></MyColorPicker>
</div>

<div class="padding-24">
  <div class="textStyle-subtitle1">Text Field</div>
  <MyTextField>
    <label MyLabel>Chercher un pays</label>
    <MyColorPicker></MyColorPicker>
  </MyTextField>
</div>
