.my-color-picker-item {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;

  box-sizing: border-box;
  border: 2px solid;

  &:hover {
    background-color: var(--colorNeutralBackground3Hover);
  }
}



.my-color-picker-item-label {
  font-size: 12px;
  line-height: 20px;
  margin: 0 16px;
  display: inline-block;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;

  &::first-letter{
    text-transform: uppercase;
  }
}
