.my-calendar-month {

  display: grid;
}

.my-calendar-month-day {
  font-size: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  &.outside {
    opacity: .6;
  }
}

.my-calendar-month-dayOfWeek {
  opacity: .8;
  font-weight: 500;
  font-size: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
