.my-calendar-month {
  --my-calendar-month-color: var(--colorNeutralForeground1);
  --my-calendar-month-stroke: var(--colorNeutralStroke1);
  display: grid;
}

.my-calendar-month-day {
  font-size: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
  }

  &.outside {
    opacity: .6;
  }
}

.my-calendar-month-dayOfWeek {
  opacity: .8;
  font-weight: 500;
  font-size: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
