<div class="timetable-header" [style.grid-template-columns]="gridTemplateColumns">
  <div class="timetable-header-item"></div>
  @for (dayOfWeek of dayOfWeeks; track dayOfWeek) {
    <div class="timetable-header-item timetable-header-item-day">
      {{ dayOfWeekIntl(dayOfWeek) }}
    </div>
  }
</div>


<div class="timetable-columns" [style.grid-template-columns]="gridTemplateColumns">


  @for (hour of timelineHours; track hour) {
    <div class="timetable-hour-line"
         [style.top.px]="getHourOffsetY(hour)"
         [style.left.px]="timelineWidth - 16"
    ></div>
  }

  <div class="timetable-column timetable-column-timeline">
    @for (hour of timelineHours; track hour) {
      <div class="timetable-timeline-hour"
           [style.top.px]="getHourOffsetY(hour) - 10"
      >{{ hour.format(hourFormatter) }}
      </div>
    }
  </div>



  @for (dayOfWeek of dayOfWeeks; track dayOfWeek) {
    <div class="timetable-column timetable-column-day" #dayColum>


      @for (item of getDayItems(dayOfWeek); track item) {
        <TimetableItem [contentDef]="itemTemplateDef" [context]="item"
                       [style.background-color]="item.color"
                       [style.top.px]="getHourOffsetY(item.startAt)"
                       [style.height.px]="getHourOffsetY(item.endAt) - getHourOffsetY(item.startAt)"
        ></TimetableItem>
      }

    </div>
  }
</div>
