:root {

}

.my-agenda-planning {
  --my-agendaPlanning-borderColor : var(--colorNeutralStroke1);
  --my-agendaPlanning-dayCell-width: 128px;
  --my-agendaPlanning-hourCell-width: 150px;
}

.my-agenda-planning-group {
  display: grid;
  grid-template-columns: var(--my-agendaPlanning-dayCell-width)  1fr;
  grid-column-gap: 16px;

  border-bottom: 1px solid var(--my-agendaPlanning-borderColor);
}

.my-agenda-planning-line {
  display: grid;
  grid-template-columns: var(--my-agendaPlanning-hourCell-width) 1fr;
  grid-column-gap: 16px;
}
