/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';
@import '@angular/cdk/overlay-prebuilt.css';
@import "NeoUI/styles/css/margin.css";
@import "NeoUI/styles/layout";
@import "NeoUI/styles/css/fluent-color.css";
@import "NeoUI/styles/font";

@import "flag-icons/css/flag-icons.min.css";

.material-symbols-outlined, .material-symbols-rounded, .material-symbols-sharp {
  color: var(--colorNeutralForeground1);
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  color: #242424;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.horizontal-pager {
  border: 1px solid red;

}
