<div class="padding-24">
  <button MyIconButton>
    <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
  </button>
</div>


<div class="padding-24">
  <div class="textStyle-subtitle1">Appearance</div>
  <div class="display-flex columnGap-16">
    <button MyIconButton size="medium" appearance="neutral">
      <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
    </button>

    <button MyIconButton size="medium" appearance="standard">
      <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
    </button>

    <button MyIconButton size="medium" appearance="tonal">
      <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
    </button>

    <button MyIconButton size="medium" appearance="filled">
      <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
    </button>
  </div>
</div>



<div class="padding-24">
  <div class="textStyle-subtitle1">Size</div>
  <div class="display-flex columnGap-16">
    <div>
      <button MyIconButton size="small" appearance="filled">
        <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
      </button>
    </div>

    <div>
      <button MyIconButton size="medium" appearance="filled">
        <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
      </button>
    </div>

    <div>
      <button MyIconButton size="large" appearance="filled">
        <lucide-icon [img]="icons.EllipsisIcon"></lucide-icon>
      </button>
    </div>
  </div>
</div>
