<div class="padding-24">
  <button MyIconButton>
    <<MyMaterialIcon>more_vert</MyMaterialIcon>
  </button>
</div>


<div class="padding-24">
  <div class="textStyle-subtitle1">Appearance</div>
  <div class="display-flex columnGap-16">
    <button MyIconButton size="medium" appearance="neutral">
      <MyMaterialIcon>more_vert</MyMaterialIcon>

    </button>

    <button MyIconButton size="medium" appearance="standard">
      <MyMaterialIcon>more_vert</MyMaterialIcon>
    </button>

    <button MyIconButton size="medium" appearance="tonal">
      <MyMaterialIcon>more_vert</MyMaterialIcon>
    </button>

    <button MyIconButton size="medium" appearance="filled">
      <MyMaterialIcon>more_vert</MyMaterialIcon>
    </button>
  </div>
</div>



<div class="padding-24">
  <div class="textStyle-subtitle1">Size</div>
  <div class="display-flex columnGap-16">
    <div>
      <button MyIconButton size="small" appearance="filled">
        <MyMaterialIcon>more_vert</MyMaterialIcon>
      </button>
    </div>

    <div>
      <button MyIconButton size="medium" appearance="filled">
        <MyMaterialIcon>more_vert</MyMaterialIcon>
      </button>
    </div>

    <div>
      <button MyIconButton size="large" appearance="filled">
        <MyMaterialIcon>more_vert</MyMaterialIcon>
      </button>
    </div>
  </div>
</div>
