<div class="padding-24">
  <button MyTooltip="New tooltip" MyTooltipPosition="left">Tooltip</button>
</div>

<div style="display: flex; justify-content: center">
  <div class="padding-24" style="display: flex; gap: 16px">
    <button MyTooltip="New tooltip" MyTooltipPosition="left">Left</button>
    <button MyTooltip="New tooltip" MyTooltipPosition="right">Right</button>
    <button MyTooltip="New tooltip" MyTooltipPosition="top">Top</button>
    <button MyTooltip="New tooltip" MyTooltipPosition="bottom">Bottom</button>

  </div>
</div>

