<div class="padding-24">
  <div>
    <MyTextField>
      <label MyTextFieldLabel for="input1">Nom & prénom</label>
      <input type="text" id="input1" placeholder="Nom & prénom" MyTextFieldInput>
    </MyTextField>
  </div>

  <div class="marginTop-24">
    <MyTextField>
      <label MyTextFieldLabel for="input2">Message</label>
      <textarea MyTextFieldInput id="input2" placeholder="Entrez le message"></textarea>
    </MyTextField>
  </div>
</div>

<div class="padding-32">
  <div>
    <MyTextField [isError]="true">
      <label MyTextFieldLabel for="input3">Nom & prénom</label>
      <input type="text" id="input3" placeholder="Nom & prénom" MyTextFieldInput>
    </MyTextField>
  </div>
</div>
