$my-tooltip-padding: 4px;
$my-tooltip-fontSize: 12px;
$my-tooltip-color: var(--colorNeutralForegroundInverted);
$my-tooltip-bgColor: var(--colorNeutralBackgroundInverted);

.my-tooltip-container {
  background-color: transparent;
  position: relative;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

  @starting-style {
    transform: scale(.8);
    opacity: .8;
  }
}

.my-tooltip-content {
  background-color: $my-tooltip-bgColor;
  color: $my-tooltip-color;
  padding: $my-tooltip-padding;
  border-radius: 4px;
  font-size: $my-tooltip-fontSize;
}

.my-tooltip-beak {
  background-color: $my-tooltip-bgColor;
  position: absolute;
  display: inline-block;
  width:  12px;
  height: 12px;
  border-radius: 1px;
  z-index: -5;
  transform: rotate(45deg);

}


.my-tooltip-panel-start {
  margin-right: 10px;

  .my-tooltip-beak {
    right: 0;
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
  }
}

.my-tooltip-panel-end {
  margin-left: 10px;
  .my-tooltip-beak {
    left: -8px;
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
  }
}

.my-tooltip-panel-top {
  margin-bottom: 10px;
  .my-tooltip-beak {
    left: 50%;
    bottom: -8px;
    transform: rotate(45deg) translate(-50%, 0);
  }
}

.my-tooltip-panel-bottom {
  margin-top: 10px;

  .my-tooltip-beak {
    top: 0px;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 0);
  }
}
