<div class="padding-24">
  <div class="marginTop-24">
    <MyTextField>
      <input type="text" id="input1" placeholder="Nom & prénom" MyInput>
    </MyTextField>
  </div>

  <div class="marginTop-24">
    <MyTextField>
      <MyLabel>Phone</MyLabel>
      <input type="text" id="inputPhone" placeholder="Enter a phone number" MyInput>
    </MyTextField>
  </div>

  <div class="marginTop-24">
    <MyTextField>
      <label MyLabel for="inputPhone1">Phone</label>
      <input type="text" id="inputPhone1" placeholder="Phone" value="6 85 63 25 41" MyInput>
    </MyTextField>
  </div>

  <div class="marginTop-24">
    <div class="textStyle-subtitle2">Textarea</div>
    <MyTextField>
      <label MyLabel for="input2">Message</label>
      <textarea MyInput id="input2" placeholder="Entrez le message"></textarea>
    </MyTextField>
  </div>
</div>

<div class="padding-32">
  <div>
    <MyTextField [isError]="true">
      <label MyLabel for="input3">Nom & prénom</label>
      <input type="text" id="input3" placeholder="Nom & prénom" MyInput>
    </MyTextField>
  </div>
</div>


<div class="padding-32">
  <div class="textStyle-subtitle1">With hint</div>
  <div>
    <MyTextField>
      <MyLabel>Animal</MyLabel>
      <input type="text" placeholder="Animal" id="an" MyInput>
      <MyTextFieldHint label="Max value">1/10</MyTextFieldHint>
    </MyTextField>
  </div>
</div>


<div class="padding-32">
  <div class="textStyle-subtitle1">With leading and trailing content</div>
  <div class="marginTop-16">
    <MyTextField>
      <MyLabel>Animal</MyLabel>
      <input type="text"  MyInput>
      <MyTextFieldLeadingContent>
        <MyMaterialIcon>account_circle</MyMaterialIcon>
      </MyTextFieldLeadingContent>
    </MyTextField>
  </div>

  <div class="marginTop-16">
    <MyTextField>
      <MyLabel>Animal</MyLabel>
      <input type="text" MyInput>
      <MyTextFieldTrailingContent>
        <MyMaterialIcon>mic</MyMaterialIcon>
      </MyTextFieldTrailingContent>
    </MyTextField>
  </div>

  <div class="marginTop-16">
    <MyTextField>
      <MyLabel>Animal</MyLabel>
      <input type="text" MyInput>
      <MyTextFieldTrailingContent>.00</MyTextFieldTrailingContent>
      <MyTextFieldLeadingContent>$</MyTextFieldLeadingContent>
    </MyTextField>
  </div>
</div>



<div class="padding-32">
  <div class="textStyle-subtitle1">With message</div>
  <div>

    <div>
      <MyTextField class="marginTop-24">
        <MyLabel>Info message</MyLabel>
        <input type="text" placeholder="Animal" MyInput>
        <MyTextFieldMessage intent="info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores earum magnam odio quia soluta tenetur
          totam voluptatem.
        </MyTextFieldMessage>
      </MyTextField>
    </div>

    <div>
      <MyTextField class="marginTop-24">
        <MyLabel>Success message</MyLabel>
        <input type="text" placeholder="Animal" MyInput>
        <MyTextFieldMessage intent="success">This is success message</MyTextFieldMessage>
      </MyTextField>
    </div>

    <div>
      <MyTextField class="marginTop-24">
        <MyLabel>warning message</MyLabel>
        <input type="text" placeholder="Animal" MyInput>
        <MyTextFieldMessage intent="warning">This is warning message</MyTextFieldMessage>
      </MyTextField>
    </div>

    <div>
      <MyTextField class="marginTop-24">
        <MyLabel>Error message</MyLabel>
        <input type="text" placeholder="Animal" MyInput>
        <MyTextFieldMessage intent="error">This is error message</MyTextFieldMessage>
      </MyTextField>
    </div>

    <div>
      <MyTextField class="marginTop-24">
        <MyLabel>Error message</MyLabel>
        <input type="text" placeholder="Animal" MyInput>
        <MyTextFieldMessage intent="none">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </MyTextFieldMessage>
      </MyTextField>
    </div>
  </div>
</div>
